## Aufgabe 1: 
Ein Apfel kostet 1,09€. Es werden 4 Äpfel gekauft. Wie teuer ist der Einkauf?
Legen Sie alle Werte als Variablen an und lassen Sie sich den Endpreis ausgeben.

In [1]:

price_apple=1.09
amount_apple=4
print("The price of an apple is: ", price_apple*amount_apple)

The price of an apple is:  4.36

## Aufgabe 2:
Wandeln Sie 12345 Sekunden in Stunden, Minuten und Sekunden um. Geben Sie Ihr Ergebnis in folgendem Format aus: hh:mm:ss

In [28]:
total_seconds=12345
hours=total_seconds//3600
minutes=(total_seconds%3600)//60
seconds=(total_seconds%3600)%60
print(hours , ":", minutes, ":", seconds)

3 : 25 : 45

## Aufgabe 3: 
Lesen Sie eine beliebige Anzahl von Sekunden ein. Wandeln Sie die Sekunden in Stunden, Minuten und Sekunden um. Geben Sie Ihr Ergebnis in folgendem Format aus: hh:mm:ss

In [2]:
total_seconds=await int(input("Enter the total seconds: "))
hours=total_seconds//3600
minutes=(total_seconds%3600)//60
seconds=(total_seconds%3600)%60
print(hours , ":", minutes, ":", seconds)

TypeError: object int can't be used in 'await' expression